<ul id="nav">
    <li class="active"><a href="#"><span>Nav 1</span></a></li>
    <li><a href="#"><span>Nav 2</span></a></li>
    <li><a href="#"><span>Nav 3</span></a></li>
    <li><a href="#"><span>Nav 4</span></a></li>
    <li><a href="#"><span>Nav 5</span></a></li>
</ul>
